/** =========================================
 * Functions
 ===========================================*/

/** =========================================
 * Shade

 * Darken a color
 * @access public
 * @param {Color} $color - color to shade
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 ===========================================*/

/** =========================================
 * Tint

 * Lighten a color
 * @access public
 * @param {Color} $color - color to tint
 * @param {Number} $percentage - percentage of `$color` in returned color
 * @return {Color}
 ===========================================*/

/** =========================================
 * Variables
 ===========================================*/

/** Text */

/** Secondary Text / Icons */

/** Hint Text */

/** Dividers */

/** -----------------------------------------
 * Opacity
 * ----------------------------------------*/

/** -----------------------------------------
 * Fonts
 * ----------------------------------------*/

/** -----------------------------------------
 * Sizing
 * ----------------------------------------*/

/** -----------------------------------------
 * Animation
 * ----------------------------------------*/

/** -----------------------------------------
 * Border Radii
 * ----------------------------------------*/

/** -----------------------------------------
 * Icons
 * ----------------------------------------*/

/** -----------------------------------------
 * CMS Menu
 * ----------------------------------------*/

/** -----------------------------------------
 * GridFields / Accordions
 * ----------------------------------------*/

.site-builder__container__header,
.site-builder__container__content__item__content {
	background: #f9f9f9;
	background: linear-gradient(#f9f9f9, #f1f1f1);
	border-color: #BDBDBD !important;
}

.site-builder__container__content {
	background: #f9f9f9;
	border-color: #BDBDBD !important;
}

/** =========================================
 * Screen Sizes
 ===========================================*/

/** =========================================
 * Grid
 ===========================================*/

/** =========================================
 * Variables
 ===========================================*/

/** =========================================
 * Components
 ===========================================*/

/** =========================================
 * Components
 ===========================================*/

/** =========================================
 * Site Builder
 ===========================================*/

.site-builder__placeholder,
.site-builder__container__content__placeholder {
	background: rgba(0, 0, 0, 0.02);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sitebuilder {
	position: relative;
}

.sitebuilder.is-loading .site-builder {
	opacity: 0.3;
}

.site-builder {
	margin: 16px -4px;
	list-style: none;
	transition: 0.1s ease-out opacity;
}

.site-builder__placeholder {
	box-sizing: border-box;
	margin: 4px;
}

.site-builder__container {
	box-sizing: border-box;
	display: block;
	margin: 4px;
	cursor: all-scroll;
}

.site-builder__container__header {
	position: relative;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid;
	border-bottom-width: 0;
	display: block;
	padding: 8px;
}

.site-builder__container__header:before,
.site-builder__container__header:after {
	content: " ";
	display: table;
}

.site-builder__container__header:after {
	clear: both;
}

.site-builder__container__header__actions {
	float: right;
	font-size: 0;
}

.site-builder__container__header__actions .ss-ui-button {
	font-size: 11px;
	margin: 0;
	border-radius: 0;
	border-left-width: 0;
}

.site-builder__container__header__actions .ss-ui-button:first-child {
	border-left-width: 1px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.site-builder__container__header__actions .ss-ui-button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.site-builder__container__content {
	box-sizing: border-box;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid;
	display: block;
	padding: 16px;
}

.site-builder__container__content:before,
.site-builder__container__content:after {
	content: " ";
	display: table;
}

.site-builder__container__content:after {
	clear: both;
}

.site-builder__container__content__placeholder {
	position: relative;
	float: left;
	width: 50%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
	margin: 4px 0;
}

.site-builder__container__content__item {
	box-sizing: border-box;
}

.site-builder__container__content__item__content {
	border-radius: 4px;
	border: 1px solid;
	display: block;
	padding: 8px;
	margin: 4px 0;
}

.site-builder__container__content__item__content:before,
.site-builder__container__content__item__content:after {
	content: " ";
	display: table;
}

.site-builder__container__content__item__content:after {
	clear: both;
}

.site-builder__container__content__item__content__heading {
	display: inline-block;
	font-size: 11px;
	padding: .4em 1em;
	line-height: 1.4;
	border-radius: 4px;
	border: 1px solid #BDBDBD;
	box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.8);
	background: linear-gradient(#f1f1f1, #f9f9f9);
}

.site-builder__action.is-loading .icon {
	display: inline-block;
}

.site-builder__action .icon {
	text-indent: 0;
	display: none;
}

.grouped-actions {
	float: right;
	font-size: 0;
}

.grouped-actions .action {
	font-weight: normal;
	font-size: 11px;
	margin: 0;
	border-left-width: 0;
	border-radius: 0;
}

.grouped-actions .action:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left-width: 1px;
}

.grouped-actions .action:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right-width: 1px;
}

/** =========================================
 * States
 ===========================================*/

.is-column-1 {
	position: relative;
	float: left;
	width: 8.33333%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-2 {
	position: relative;
	float: left;
	width: 16.66667%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-3 {
	position: relative;
	float: left;
	width: 25%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-4 {
	position: relative;
	float: left;
	width: 33.33333%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-5 {
	position: relative;
	float: left;
	width: 41.66667%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-6 {
	position: relative;
	float: left;
	width: 50%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-7 {
	position: relative;
	float: left;
	width: 58.33333%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-8 {
	position: relative;
	float: left;
	width: 66.66667%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-9 {
	position: relative;
	float: left;
	width: 75%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-10 {
	position: relative;
	float: left;
	width: 83.33333%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-11 {
	position: relative;
	float: left;
	width: 91.66667%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.is-column-12 {
	position: relative;
	float: left;
	width: 100%;
	min-height: 1px;
	padding-left: 4px;
	padding-right: 4px;
}

.row {
	margin-left: -4px;
	margin-right: -4px;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.ss-ui-select {
	background: linear-gradient(#ffffff, #d9d9d9);
	border: 1px solid #c0c0c2;
	border-bottom: 1px solid #a6a6a9;
	-webkit-appearance: none;
	padding: .4em 1em;
	line-height: 1.4;
	margin-right: .1em;
	text-shadow: white 0 1px 1px;
	position: relative;
}

.ss-ui-select:focus {
	outline: 0;
}

/*# sourceMappingURL=main.css.map */

